.wrapper {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--color-primary);
  padding: 4px 8px;
  background-color: #fff; /* Check Figma if white / light gray */
}

.search {
  height: 38px;
  width: 320px;     /* adjust if figma differs */
  border: none;
  outline: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.searchButton {
  background: var(--color-primary);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.listElement {
  padding: 8px 12px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.albumTitle {
  color: white;
  font-weight: 600;
}

.albumArtists {
  color: gray;
  font-size: 12px;
}
